html,body{
	width: 100%;
	height: 100%;
  }
  
  .container{
	padding: 0 auto;
	margin: 0 auto;
	width: 1140px;
  }
  
  h1{
	position: relative;
	margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	color: #424242;
	text-align: center;
  }
  
  .gallery-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50vh;
	gap: 10px;
	margin-top: 10px;
  }
  
  .item {
	flex: 1;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: none;
	transition: flex 0.8s ease;

	&:hover{
	  flex: 5;
	}
  }
  
  .item-1 { 
	background-image: url('https://source.unsplash.com/XClNDg9Z9Ag');
  }
  
  .item-2 { 
	background-image: url('https://source.unsplash.com/Ax6C66mqrG8');
  }
  
  .item-3 { 
	background-image: url('https://source.unsplash.com/Jne0wQFh2tA');
  }
  
  .item-4 { 
	background-image: url('https://source.unsplash.com/dvnG7cZH4WM');
  }
  
  .item-5 { 
	background-image: url('https://source.unsplash.com/hfNsHnY5vjM');
  }
  
  .item-6 { 
	background-image: url('https://source.unsplash.com/t_ZdxJsE8iM');
  }

  .item-7 { 
	background-image: url('https://source.unsplash.com/D674O8rynlE');
  }

  .item-8 { 
	background-image: url('https://source.unsplash.com/TMowCZE9AiI');
  }

  .item-9 { 
	background-image: url('https://source.unsplash.com/UUVjTJxO1uc');
  }

  .item-10 { 
	background-image: url('https://source.unsplash.com/h8McdDQJyvg');
  }


